.covertoggle{
    background-color: #ff0000;
    height: 2em;
    width: 6%;
    display: inline-flex;
    margin-right: 3px;
   position: absolute;
    right: 10%;
    top: 5%;
}
.black{
    background-color: black;
    color: white;
    height: 1.5em;
    width: 50%;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    display: inline-flex;
    margin-right: 5px;
    margin-bottom: 5px;
}
.white{
    background-color: white;
    color: black;
    height: 1.5em;
    width: 50%;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    display: inline-flex;
    margin-right: 5px;
    margin-bottom: 5px;
}